@media (max-width: 992px){
    header{
            display: none;
        }

        #heading_page{  
            width: 100%;
            padding-top: 10px;
            display: flex;
            justify-content: start;
            align-items: start;
            text-align: start;
        }

        #heading_page .breadcrumb {
            display: flex ;
            justify-content: center ;
            align-items: center ;
            text-align: center;
        }

        #heading_page .breadcrumb a{
            margin-bottom: 3px;
        }

        #heading_page .breadcrumb h4{
            padding-top: 5px;
        }
    
        #part1{
            padding: 20px 0;
        }

        #part1 .container{
            padding-top: 20px;
            padding-bottom: 20px;
        }

        #part1 .container .title_part h4{
            font-size: 28px;
            text-align: center;
        }

        #part1 .container .title_part p{
            font-size: 14px;
            text-align: center;
        }

        #part1 .container .img_part img{
            height: 200px;
        }

        #part2 .container{
            padding-top: 10px;
            padding-bottom: 20px;
        }

        #part2 .container .title_part h4{
            font-size: 28px;
            text-align: center;
        }

        #part2 .container .title_part p{
            font-size: 14px;
            text-align: center;
        }

        #part2 .container .title_part .supports .info h4{
            font-size: 12px;
        }

        #part2 .container .title_part .supports .info p{
            font-size: 8px;
        }

        #part2 .container .img_part{
            padding: 10px;
        }

        #part2 .container .img_part img{
            height: 200px;
        }

        #part2 .container .supports{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 20px;
        }

        #part2 .container .supports .col-xl-6{
            width: 50%;
        }

        #part2 .container .title_part .supports .info h4{
            font-size: 12px;
        }

        #part2 .container .title_part .supports .info p{
            font-size: 8px;
        }

        #part2 .container .title_part .supports .logo{
            transform: translatey(40px);
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        #part2 .container .title_part .supports .logo .shipping svg{
            width: 30px;
            height: 30px;
        }

        #part3 .container{
            padding-top: 10px;
            padding-bottom: 0px;
            text-align: center;
        }

        #part3 .container .title_part h4{
            font-size: 28px;
        }

        #part3 .container .title_part p{
            font-size: 14px;
        }

        #part3 .container .title_part p span{
            width: 15px;
            height: 15px;
        }

        #part3 .container .title_part a{
            font-size: 14px;
            padding: 12px 20px;
            border-radius: 43px;
        }

        #part3 .container .img_part{
            transform: translateX(40px);
        }

        #part3 .container .img_part img{
            border-radius: 8px;
            width: 70%;
            height: 200px;
            padding-top: 10px;
        }

        #employees .container{
            padding-top: 30px;
            padding-bottom: 20px;
        }

        #employees .container .header{
            padding-bottom: 20px;
        }

        #employees .container .header h4{
            font-size: 28px;
        }

        #employees .container .header p{
            font-size: 12px;
        }

        #employees .container .employeesliders .slider .info{
            width: 75%;
            padding: 0%;
            margin-left: 55px;
            margin-right: 0px;
            margin-bottom: 50px;
            height: 70%;
        }

        #employees .container .employeesliders .slider .info h4{
            font-size: 14px;
            padding: 10px 20px;
        }

        #employees .container .employeesliders .slider .info p{
            font-size: 10px;
            padding-left: 20px;
            padding-bottom: 10px;
        }

        #employees .container .employeesliders .slider .info img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
            padding: 2px;
        }

        #employees .container .employeesliders .slider .info .social_media{
            top: 100px;
            left: 40%;
            transform: translateX(-40%);
        }

        #employees .container .employeesliders .slider .info .social_media span:hover{
            padding: 0px;
        }

        #employees .next{
            right: 0%;
            top: 45%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
        }

        #employees .prev{
            left: 0%;
            top: 45%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
        }

        #clients .container{
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #clients .container .header{
            padding-bottom: 20px;
            padding-top: 10px;
        }

        #clients .container .header h4{
            font-size: 28px;
            text-align: center;
        }

        #clients .container .clientsliders{
            padding-top: 30px;
        }

        #clients .next{
            right: 0%;
            top: 0%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
        }

        #clients .prev{
            left: 0%;
            top: 0%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
        }

        #clients .container .info{
            padding: 15px;
            width: 200px;
            height: 350px;
            margin-bottom: 10px;
        }

        #clients .container .info .row{
            padding: 20px;
        }

        #clients .container .info p{
            padding-top: 10px;
            font-size: 10px;
        }

        #clients .container .info .img{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #clients .container .info svg{
            width: 24px;
            height: 16px;
        }

        #clients .container .info .img img{
            transform: translateX(0px);
        }

        #clients .container .info .customerinfo h4{
            font-size: 12px;
            padding: 0%;
            margin-top: 15px;
            text-align: center;
        }

        #clients .container .info .customerinfo p{
            font-size: 10px;
            padding: 0%;
            text-align: center;
        }

        #clients .container .info .stars{
            padding: 5px;
            text-align: center;
        }


        #logo .container{
            padding-top: 0px;
            padding-bottom: 30px;
        }

        #logo .container .row{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-left: 60px;
        }

        #logo .container .logos{
            width: 50%;
            padding-bottom: 15px;
            text-align: start;
        }

    }