:root{
    --gren-gray-scale-900: #002603;
    --gren-gray-scale-800: #173b1a;
    --gren-gray-scale-700: #2b572e;
    --gren-gray-scale-600: #406b42;
    --gren-gray-scale-500: #618062;
    --gren-gray-scale-400: #7a997c;
    --gren-gray-scale-300: #96b297;
    --gren-gray-scale-200: #b4ccb4;
    --gren-gray-scale-100: #dae5da;
    --gren-gray-scale-50: #edf2ee;
    --gray-scale-gray--900: #1a1a1a;
    --gray-scale-gray--800: #333;
    --gray-scale-gray--700: #4d4d4d;
    --gray-scale-gray--600: #666;
    --gray-scale-gray--500: #808080;
    --gray-scale-gray--400: #999;
    --gray-scale-gray--300: #b3b3b3;
    --gray-scale-gray--200: #ccc;
    --gray-scale-gray--100: #e6e6e6;
    --gray-scale-gray--50: #f2f2f2;
    --gray-scale-white: #fff;
    --branding-success-bright: #84d187;
    --branding-success: #00b207;
    --branding-success-dark: #2c742f;
    --branding-warning: #ff8a00;
    --branding-error: #ea4b48;
    --font-family: "Poppins", sans-serif;
    --second-family: "Segoe Script", sans-serif;
    --third-family: "Dancing Script", sans-serif;
}

body{
    font-family: var(--font-family);
}

#heading_page{  
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff; 
    border-bottom: 1px solid #ddd;
}

#heading_page .breadcrumb{
    padding-top: 20px;
}

#heading_page .breadcrumb a{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--400);
    text-decoration: none;
}

#heading_page .breadcrumb a:hover{
    color: #00B207;
}

#heading_page .breadcrumb span{
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--400);
}

#heading_page .breadcrumb h4{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #00B207;
}

#part1{
    padding: 60px 0;
}

#part1 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#part1 .container .title_part h4{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    color: var(--gray-scale-gray--900);
}

#part1 .container .title_part p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-scale-gray--600);
}

#part1 .container .img_part img{
    border-radius: 8px;
    width: 100%;
}

#part2 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#part2 .container .row{
    box-shadow: 0 1px 0 0 #e5e5e5;
    background: linear-gradient(180deg, #fafafa 0%, #fff 100%);
}

#part2 .container .title_part h4{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    color: var(--gray-scale-gray--900);
}

#part2 .container .title_part p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-scale-gray--600);
}

#part2 .container .title_part .supports .row{
    box-shadow: none;
    background: transparent;
}

#part2 .container .title_part .supports .info h4{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
}

#part2 .container .title_part .supports .logo{
    background: rgba(0, 178, 7, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60px;
    height: 60px;
}

#part2 .container .title_part .supports .info p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--gray-scale-gray--500);
}

#part2 .container .img_part{
    padding: 0%;
}

#part2 .container .img_part img{
    border-radius: 4px;
    width: 100%;
    height: 600px;
}

#part3 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#part3 .container .title_part h4{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    color: var(--gray-scale-gray--900);
}

#part3 .container .title_part p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-scale-gray--600);
}

#part3 .container .title_part p span{
    background: rgba(0, 178, 7, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    display: inline-flex;
}

#part3 .container .title_part a{
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray-scale-white);
    background-color: #00B207;
    padding: 16px 40px;
    border-radius: 43px;
}

#part3 .container .title_part a:hover{
    background-color: transparent;
    color: #00B207;
    outline: 1px solid #00B207;
}

#part3 .container .title_part a span{
    display: flex;
    margin-left: 16px;
}

#part3 .container .img_part img{
    border-radius: 8px;
    width: 100%;
}

#employees{
    background: linear-gradient(180deg, #f2f2f2 0%, #fff 100%);
}

#employees .container{
    padding-top: 50px;
    padding-bottom: 50px;
}

#employees .container .header{
    text-align: center;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

#employees .container .header h4{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: var(--gray-scale-gray--900);
}

#employees .container .header p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-scale-gray--600);
}

#employees .container .employeesliders .slider .info{
    position: relative;
    border-radius: 10px;
    background: var(--gray-scale-white);
    border: 1px solid var(--gray-scale-gray--100);
    width: 295px;
    height: 380px;
    padding: 0%;
    margin-left: 10px;
    margin-right: 10px;
}

#employees .container .employeesliders .slider .info h4{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
    padding: 10px 20px;
}

#employees .container .employeesliders .slider .info p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--500);
    padding-left: 20px;
    padding-bottom: 10px;
}

#employees .container .employeesliders .slider .info img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 293px;
    height: 250px;
    padding: 2px;
    position: relative;
}

#employees .container .employeesliders .slider .info .social_media{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-60%);
}

#employees .container .employeesliders .slider .info .social_media span{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

#employees .container .employeesliders .slider .info:hover .social_media span{
    opacity: 1;
    visibility: visible;
    background: rgba(0, 178, 7, 0.1);
    border-radius: 50%;
}

#employees .container .employeesliders .slider .info .social_media span:hover{
    color: #fff;
    background-color: #00B207;
    padding: 4px;
}

#employees .next{
    position: absolute;
    background-color: transparent;
    right: -5%;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;   
    border-radius: 50%;
    outline: 1px solid #DAE5DA;
    color: #002603;
}

#employees .next:hover{
    background-color: #00B207;
    color: whitesmoke;
    filter: blur(0px);
}

#employees .next span{
    line-height: 0;
}

#employees .prev{
    position: absolute;
    background-color: transparent;
    left: -5%;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;   
    border-radius: 50%;
    outline: 1px solid #DAE5DA;
    color: #002603;
    z-index: 22;
}


#employees .prev:hover{
    background-color: #00B207;
    color: whitesmoke;
    filter: blur(0px);
}

#employees .prev span{
    line-height: 0;
}

#employees .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

#employees .slick-dots button{
    display: none !important;
}

#clients{
    background: linear-gradient(180deg, #f2f2f2 0%, #fff 100%);
}

#clients .container{
    padding-top: 50px;
    padding-bottom: 50px;
}

#clients .container .header{
    padding-bottom: 40px;
}

#clients .container .header h4{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    text-align: start;
    color: var(--gray-scale-gray--900);
}

#clients .container .info{
    padding: 25px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.01);
    background: var(--gray-scale-white);
    border-radius: 8px;
    width: 430px;
}

#clients .container .info .row{
    padding: 20px;
}

#clients .container .info p{
    padding-top: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--700);
}

#clients .container .info .img img{
    transform: translateX(-20px);
}

#clients .container .info .customerinfo h4{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: start;
    color: var(--gray-scale-gray--900);
    padding: 0%;
    margin-top: 15px;
}

#clients .container .info .customerinfo p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: start;
    color: var(--gray-scale-gray--400);
    padding: 0%;
}

#clients .container .info .stars{
    padding: 10px;
    text-align: end;
}

#clients .container .info .stars .icons span{
    color: #FF8A00;
}

#clients .next{
    position: absolute;
    background-color: transparent;
    right: 0%;
    top: -22%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;   
    border-radius: 50%;
    outline: 1px solid #DAE5DA;
    color: #002603;
}

#clients .next:hover{
    background-color: #00B207;
    color: whitesmoke;
    filter: blur(0px);
}

#clients .next span{
    line-height: 0;
}

#clients .prev{
    position: absolute;
    background-color: transparent;
    left: 92%;
    top: -22%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;   
    border-radius: 50%;
    outline: 1px solid #DAE5DA;
    color: #002603;
    z-index: 22;
}


#clients .prev:hover{
    background-color: #00B207;
    color: whitesmoke;
    filter: blur(0px);
}

#clients .prev span{
    line-height: 0;
}

#clients .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

#clients .slick-dots button{
    display: none !important;
}

#logo .container{
    padding-top: 50px;
    padding-bottom: 100px;
}

#logo .container .row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}