@media (max-width: 992px){
    header{
            display: none;
        }
    
        #contact{
            padding: 10px;
        }

        #contact .container .info{
            padding: 0px 20px;
            width: 100%;
            height: 100%;
        }

        #contact .container .cart{
            padding: 24px 0px;
            width: 100%;
            height: 100%;
        }

        #contact .container .message{
            width: 100%;
            height: 100%;
            padding: 20px;
        }

        #contact .container .message .input input{
            padding: 14px 16px;
            width: 100%;
            height: 100%;
        }

        #contact .container .message .text{
            padding: 14px 16px;
            width: 100%;
            height: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        #contact .container .message textarea{
            padding: 14px 16px;
            width: 100%;
            height: 100%;
            margin-bottom: 15px;
        }

        #contact .container .message button{
            padding: 16px 40px;
            width: 100%;
            height: 100%;
        }

        #map{
            width: 100%;
            height: 100%;
        }

        #map img{
            width: 100%;
            height:200px;
        }

}