@media (max-width: 992px){
    header{
            display: none;
        }

     #customer_login .login-page {
        width: 100%;
        height: 100%;
    }

    .form {
        background: #ffffff;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
    }

    .form button {
        padding: 14px 32px;
        width: 100%;
        height: 45px;
    }
}