:root{
    --gren-gray-scale-900: #002603;
    --gren-gray-scale-800: #173b1a;
    --gren-gray-scale-700: #2b572e;
    --gren-gray-scale-600: #406b42;
    --gren-gray-scale-500: #618062;
    --gren-gray-scale-400: #7a997c;
    --gren-gray-scale-300: #96b297;
    --gren-gray-scale-200: #b4ccb4;
    --gren-gray-scale-100: #dae5da;
    --gren-gray-scale-50: #edf2ee;
    --gray-scale-gray--900: #1a1a1a;
    --gray-scale-gray--800: #333;
    --gray-scale-gray--700: #4d4d4d;
    --gray-scale-gray--600: #666;
    --gray-scale-gray--500: #808080;
    --gray-scale-gray--400: #999;
    --gray-scale-gray--300: #b3b3b3;
    --gray-scale-gray--200: #ccc;
    --gray-scale-gray--100: #e6e6e6;
    --gray-scale-gray--50: #f2f2f2;
    --gray-scale-white: #fff;
    --branding-success-bright: #84d187;
    --branding-success: #00b207;
    --branding-success-dark: #2c742f;
    --branding-warning: #ff8a00;
    --branding-error: #ea4b48;
    --font-family: "Poppins", sans-serif;
    --second-family: "Segoe Script", sans-serif;
    --third-family: "Dancing Script", sans-serif;
}

body{
    font-family: var(--font-family);
}

#heading_page{  
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff; 
    border-bottom: 1px solid #ddd;
}

#heading_page .breadcrumb{
    padding-top: 20px;
}

#heading_page .breadcrumb a{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--400);
    text-decoration: none;
}

#heading_page .breadcrumb a:hover{
    color: #00B207;
}

#heading_page .breadcrumb span{
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--400);
}

#heading_page .breadcrumb h4{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #00B207;
}

#customer .profile_part{
    padding-bottom: 20px;
    margin-top: 30px;
}

#customer .profile_part .customer_profile{
    padding: 30px;
}

#customer .profile_part .customer_profile h4{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-scale-gray--900);
}

#customer .profile_part .customer_profile p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-scale-gray--500);
}

#customer .profile_part .customer_profile a{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--branding-success);
    text-decoration: none;
}

#customer .address_part{
    padding-bottom: 20px;
    margin-top: 30px;
}

#customer .address_part .customer_address{
    padding: 48px;
}

#customer .address_part .customer_address p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--gray-scale-gray--400);
}

#customer .address_part .customer_address h4{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
}

#customer .address_part .customer_address h5{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--600);
}

#customer .address_part .customer_address h6{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
}

#customer .address_part .customer_address a{
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--branding-success);
}

#customer .customer_orders .card-header h4{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
    transform: translateX(-25px);
}

#customer .customer_orders .card-header a{
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--branding-success);
}

#customer .customer_orders .card .table thead tr th{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--gray-scale-gray--700);
}

#customer .customer_orders .card .table tbody tr td{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--800);
}

#customer .customer_orders .card .table tbody tr td a{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--branding-success);
    text-decoration: none;
}

#customer .row {
    align-items: flex-start !important;
}

.dashboard_menu .customer_navigation{
    position: sticky;
    margin-top: 30px;
}

.card {
    border: 1px solid var(--gray-scale-gray--100);
    border-radius: 8px;
    padding: 0px 0px 12px;
    background: var(--gray-scale-white);
}

.card .card-header {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
    padding: 26px 54px;
}

.card li{
    list-style: none;
}

.card .menu-item{
    padding-top: 10px;
}

.card .menu-item a{
    display: flex;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--600);
    padding: 10px 10px;
}

.card .menu-item a div{
    margin-left: 10px;
}

.card .menu-item:hover a {
    color: var(--branding-success);
}

.card .menu-item.active a{
    color: var(--gray-scale-gray--900);
}
