:root{
    --gren-gray-scale-900: #002603;
    --gren-gray-scale-800: #173b1a;
    --gren-gray-scale-700: #2b572e;
    --gren-gray-scale-600: #406b42;
    --gren-gray-scale-500: #618062;
    --gren-gray-scale-400: #7a997c;
    --gren-gray-scale-300: #96b297;
    --gren-gray-scale-200: #b4ccb4;
    --gren-gray-scale-100: #dae5da;
    --gren-gray-scale-50: #edf2ee;
    --gray-scale-gray--900: #1a1a1a;
    --gray-scale-gray--800: #333;
    --gray-scale-gray--700: #4d4d4d;
    --gray-scale-gray--600: #666;
    --gray-scale-gray--500: #808080;
    --gray-scale-gray--400: #999;
    --gray-scale-gray--300: #b3b3b3;
    --gray-scale-gray--200: #ccc;
    --gray-scale-gray--100: #e6e6e6;
    --gray-scale-gray--50: #f2f2f2;
    --gray-scale-white: #fff;
    --branding-success-bright: #84d187;
    --branding-success: #00b207;
    --branding-success-dark: #2c742f;
    --branding-warning: #ff8a00;
    --branding-error: #ea4b48;
    --font-family: "Poppins", sans-serif;
    --second-family: "Segoe Script", sans-serif;
    --third-family: "Dancing Script", sans-serif;
}

body{
    font-family: var(--font-family);
}

#registration{
    padding: 100px;
}

#registration .registration-page {
        width: 100%;
        height: 80vh;
        background: #fff;
    }

    .form {
        background: #ffffff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 100px;
    }

    .form .register h4 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        color: var(--gray-scale-gray--900);
        text-align: center;
        margin-bottom: 30px;
    }

    .form .register p{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: var(--gray-scale-gray--600);
        text-align: center;
        margin-bottom: 30px;
    }

    .form .register p a{
        color: var(--branding-primary);
        text-decoration: none;
    }

    .form input {
        border: 1px solid var(--gray-scale-gray--100);
        border-radius: 6px;
        padding: 14px 16px;
        width: 100%;
        height: 49px;
        background: var(--gray-scale-white);
        margin-bottom: 20px;
    }

    .form input::placeholder {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: var(--gray-scale-gray--400);
    }

    .form button {
        border-radius: 43px;
        padding: 14px 32px;
        width: 472px;
        height: 45px;
        background: var(--branding-success);
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: var(--gray-scale-white);
        border: none;
        cursor: pointer;
    }

    .form button:hover {
        background: #218838;
    }

    .terms {
        display: flex;
        align-items: center;
    }

    .terms input[type="checkbox"] {
        margin-right: 8px;
        width: 16px;
        height: 16px;
    }

    .terms label {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--gray-scale-gray--600);
        margin-bottom: 20px;
    }

    .password-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    }

    .password-container input {
        width: 100%;
        padding-right: 40px;
        height: 49px;
        border: 1px solid var(--gray-scale-gray--100);
        border-radius: 6px;
    }

    .password-container .eyeoff,
    .password-container .eyeon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        padding-bottom: 15px;
    }

    .password-container .eyeon {
        display: none;
    }

    .message {
        margin-top: 15px;
        font-size: 14px;
    }

    .message a {
        color: #007bff;
        text-decoration: none;
    }

    .message a:hover {
        text-decoration: underline;
    }