:root{
    --gren-gray-scale-900: #002603;
    --gren-gray-scale-800: #173b1a;
    --gren-gray-scale-700: #2b572e;
    --gren-gray-scale-600: #406b42;
    --gren-gray-scale-500: #618062;
    --gren-gray-scale-400: #7a997c;
    --gren-gray-scale-300: #96b297;
    --gren-gray-scale-200: #b4ccb4;
    --gren-gray-scale-100: #dae5da;
    --gren-gray-scale-50: #edf2ee;
    --gray-scale-gray--900: #1a1a1a;
    --gray-scale-gray--800: #333;
    --gray-scale-gray--700: #4d4d4d;
    --gray-scale-gray--600: #666;
    --gray-scale-gray--500: #808080;
    --gray-scale-gray--400: #999;
    --gray-scale-gray--300: #b3b3b3;
    --gray-scale-gray--200: #ccc;
    --gray-scale-gray--100: #e6e6e6;
    --gray-scale-gray--50: #f2f2f2;
    --gray-scale-white: #fff;
    --branding-success-bright: #84d187;
    --branding-success: #00b207;
    --branding-success-dark: #2c742f;
    --branding-warning: #ff8a00;
    --branding-error: #ea4b48;
    --font-family: "Poppins", sans-serif;
    --second-family: "Segoe Script", sans-serif;
    --third-family: "Dancing Script", sans-serif;
}

body{
    font-family: var(--font-family);
}

#heading_page{  
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff; 
    border-bottom: 1px solid #ddd;
}

#heading_page .breadcrumb{
    padding-top: 20px;
}

#heading_page .breadcrumb a{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--400);
    text-decoration: none;
}

#heading_page .breadcrumb a:hover{
    color: #00B207;
}

#heading_page .breadcrumb span{
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray--400);
}

#heading_page .breadcrumb h4{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #00B207;
}

#customer .customer_orders .card-header h4{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
    transform: translateX(-25px);
}

#customer .customer_orders .card-header a{
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--branding-success);
}

#customer .customer_orders .card .table thead tr th{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--gray-scale-gray--700);
}

#customer .customer_orders .card .table tbody tr td{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--800);
}

#customer .customer_orders .card .table tbody tr td a{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--branding-success);
    text-decoration: none;
}

#customer .customer_orders .page_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#customer .customer_orders .page_slider .pagination{
    padding: 10px;
}

#customer .customer_orders .page_slider .pagination .page-item .page-link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--800);
    border: 1px solid #00B207;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#customer .customer_orders .page_slider .pagination .page-item.active .page-link {
    color: #fff !important;
    background-color: #00B207; 
}

#customer .row {
    align-items: flex-start !important;
}

.order_menu .customer_navigation{
    position: sticky;
}