@media (max-width: 992px){
    header{
            display: none;
        }

        #heading_page{  
            width: 100%;
            padding-top: 10px;
            display: flex;
            justify-content: start;
            align-items: start;
            text-align: start;
        }

        #heading_page .breadcrumb {
            display: flex ;
            justify-content: center ;
            align-items: center ;
            text-align: center;
        }

        #heading_page .breadcrumb h4{
            padding-top: 5px;
        }

        #customer .customer_orders .card-header h4{
            font-size: 12px;
        }

        #customer .customer_orders .card-header a{
            font-size: 12px;
        }

        #customer .customer_orders .card .table thead tr th{
            font-size: 8px;
        }

        #customer .customer_orders .card .table tbody tr td{
            font-size: 8px;
        }

        #customer .customer_orders .card .table tbody tr td a{
            font-size: 8px;
        }

        #customer .customer_orders .page_slider{
            padding: 10px 0;
        }

        #customer .customer_orders .page_slider .pagination{
            padding: 5px;
        }

        #customer .customer_orders .page_slider .pagination .page-item .page-link{
            font-size: 10px;
            margin: 0 5px;
            width: 20px;
            height: 20px;
        }

}