@media (max-width: 992px){
    header{
            display: none;
        }

        #heading_page{  
            width: 100%;
            padding-top: 10px;
            display: flex;
            justify-content: start;
            align-items: start;
            text-align: start;
        }

        #heading_page .breadcrumb {
            display: flex ;
            justify-content: center ;
            align-items: center ;
            text-align: center;
        }

        #heading_page .breadcrumb h4{
            padding-top: 5px;
        }

        #customer .card{
            width: 100%;
        }

        #customer .card .card-title h4{
            font-size: 12px;
        }

        #customer .card .card-title a{
            transform: translateX(0px);
            font-size: 12px;
        }

        #customer .card .address .row .customer_info{
            width: 100%;
            height: 250px;
            margin-top: 10px;
            padding: 20px;
            transform: translateX(-30px);
        }

        #customer .card .order_summary {
            padding-top: 30px;
            transform: translateX(-15px);
        }

        #customer .card .order-progress{
            width: 100%;
            transform: translateX(-25px);
        }


}