@media (max-width: 992px){
    header{
        display: none;
    }

    .about-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .about-content {
        text-align: center;
        width: 100%;
    }

    .about-content h2 {
        font-size: 28px;
    }

    .about-image {
        order: -1;
    }

    .about-content {
        order: 1;
    }

}